*{
    align-items: center;
    margin: auto;
}


a:-webkit-any-link {
    color: #79595D;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    align-items: center;

}


/* Navigation styles */

nav { /* this is not right, it should be nav{} */
    width: 73%;
    padding: 1%;
    position: fixed;
    background-color: #E4DDDE;

}


.inline-block {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
}

h1 {
    font-family:raleway, arial, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #79595D;
    padding: 3%
}
h2 {
    font-family:raleway, arial, sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: oblique;
    color: #79595D;
    padding: 3% 
}


.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
    background-color: #E4DDDE;


}
ul {
    width: 50%;
    margin-left: auto;
    font-family: anonymous pro, Courier, monospace; /* now it is working! */
    font-size: 18px;
    color: #79595D;

}

a:-webkit-any-link {
    color: #79595D;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}

.HoverMenu {
    transition: 0.3s;

}

.HoverMenu:hover {
  font-size: 22px;

}

/* Navigation styles END*/

p {
    font-family: anonymous pro, Courier, monospace; 
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 200;
    color: #79595D;
    padding-top: 3%;
    margin-top: 3%; 
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 3%;
    text-align: center;
    
}

/* Hero section styles */
.hero {
    margin-top: 80px;
    margin-right: 124px;
    margin-left: 124px;
    margin-top: 20px;


}
.grid-container {
    display: grid;
    grid-template-rows: 80px 310px;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "Hello.Chiara" "intro2"
    "intro1" "intro2";
    text-align: start;
    align-items: start;
    justify-content: start;
    justify-items: start;
    margin-top: 72px;
}

.Hello.Chiara {
   padding: 3%;
   margin:0px;
   text-align: left;
}

.intro2 {
    font-family: anonymous pro, Courier, monospace; /* now is working! */
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #79595D;
    padding: 3%;
    padding-right: 0%;
    margin:0px;
    text-align: left;
}

.intro1 {
    font-family:raleway, arial, sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 125%;
    color: #79595D;
    padding: 3%;
    margin:0px;
    text-align: left;


}



body {
    background-color: #E4DDDE;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    line-height: 1.5;
  }

  .secondary {
    font-family:raleway, arial, sans-serif;
    font-size: 38px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #79595D;
    text-align: center;
    padding: 3%; 
    margin-bottom: -8%;
    margin-top: 3%;

}



.arrowed-title {
    font-family: anonymous pro, Courier, monospace; 
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 200;
    color: #79595D;
    padding-top: 3%;
    padding-bottom: 0%;
    margin-bottom: 1%;
    margin-top: 6%;
    text-align: center;
}
.center-arrow {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
}

.projects {
    max-width: 900px;
    max-height: 900px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;

}

 /* need to create flippable cards, 
 showing the content of the project when hovering */
 
 .container {
    max-width: 450px;
    max-height: 450px;
}

.container:hover {
    color: #E4DDDE;
}

.AllProjects {
    display: flex;
    margin-top: 50px;
}

.button {
    font-family: anonymous pro, Courier, monospace; 
    font-size: 18px;
    letter-spacing: 1px;
    background-color: white;
    width: 160px;
    padding: 20px;
    border: none;
    text-align: center;
    display: inline-block;
  }

  .resume {
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
}

  .button:hover{
  color: #E4DDDE;
  background-color:#79595D;

  }
  .button:active{
    background-color: #F1F1F1;
    color: #79595D;
  }
  .copy-footer {
    font-family: anonymous pro, Courier, monospace; 
    font-size: 15px;
    margin-top: 0%;
 }

  .profilePicture {
    display: flex;
    flex-direction: column;
 }

 .profilePicture img {
 border-radius: 3px
 }

/* Footer styles */
 /* FOOTER IS HIDDEN - FIX STYLES! */

.copy-footer {
    font-family: anonymous pro, Courier, monospace; /* now is working! */
    font-size: 15px;
 }

footer {
    display: grid;
    background-color: #79595D; /* changed colour and padding */
    padding: 3%;
    font-family:raleway, arial, sans-serif;
    font-weight: 400;
    color: #E5DFE0;
    font-size: 20px;
    letter-spacing: 1px;
}

/* NOT WORKING ---- FIX! */
.grid-footer {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 25% 25% 50%;
    grid-template-areas: 
    "footer1 footer3 footer5"
    "copy-footer footer4 footer5";
    text-align: start;
    align-items: start;
    justify-content: start;
    justify-items: start;
}

.footer1 {
    font-family:raleway, arial, sans-serif;
    color: #E4DDDE;
    grid-area: footer1;
    margin-top: 3%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 3%;
    text-align: start;

}

.copy-footer {
    font-family:raleway, arial, sans-serif;
    color: #E4DDDE;
    grid-area: copy-footer;
    margin-top: 3%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 3%;
    text-align: start;
}

.footer3 {
    font-family:raleway, arial, sans-serif;
    color: #E4DDDE;
    grid-area: footer3;
    margin-top: 3%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 3%;
    text-align: start;
}

.footer4 {
    font-family:raleway, arial, sans-serif;
    color: #E4DDDE;
    grid-area: footer4;
    margin-top: 3%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 3%;
    text-align: start;
}

.footer5 {
    font-family:raleway, arial, sans-serif;
    color: #E4DDDE;
    grid-area: footer5;
    margin-top: 3%;
    margin-left: 0%;
    margin-right: 20%;
    margin-bottom: 3%;
    text-align: start;
}

ul {
    vertical-align: top;
}
li {
    padding: 1%;
}
#contacts{
    display: flex;
    margin-top: 3%;
    margin-left: -13%;
    margin-right: 0%;
    margin-bottom: 3%;
    text-align: justify;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}


@media only screen and (max-width: 600px) {
    .projects {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    max-height: auto;    
    }
}
 /* need to make the rest of the elemets responsive: 
 right now only the projecst are "stacking" */

